<div class="table-responsive-xl text-center">
  <table class="table table-bordered table-striped table-dark">
    <thead class="thead-dark">
      <tr>
        <th scope="col" colspan="1">Manage Users</th>
        <th scope="col" colspan="3">
          <form class="form-row">
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Search account..."
              />
            </div>
          </form>
        </th>
        <th scope="col">
          <button class="btn btn-success" (click)="onCreateAccount()">
            Create Account
          </button>
        </th>
      </tr>
      <tr>
        <th scope="col">
          <button class="btn btn-link" (click)="onSortTable(1)">
            <img
              src="assets/images/up-arrow-white.svg"
              alt="Sort Ascending"
              [hidden]="isIconVisible(1)"
            />
            <img
              src="assets/images/down-arrow-white.svg"
              alt="Sort Descending"
              [hidden]="isIconVisible(2)"
            />
            <strong>ID</strong>
          </button>
        </th>
        <th scope="col">
          <button class="btn btn-link" (click)="onSortTable(3)">
            <img
              src="assets/images/up-arrow-white.svg"
              alt="Sort Ascending"
              [hidden]="isIconVisible(3)"
            />
            <img
              src="assets/images/down-arrow-white.svg"
              alt="Sort Descending"
              [hidden]="isIconVisible(4)"
            />
            <strong>Name</strong>
          </button>
        </th>
        <th scope="col">
          <button class="btn btn-link" (click)="onSortTable(5)">
            <img
              src="assets/images/up-arrow-white.svg"
              alt="Sort Ascending"
              [hidden]="isIconVisible(5)"
            />
            <img
              src="assets/images/down-arrow-white.svg"
              alt="Sort Descending"
              [hidden]="isIconVisible(6)"
            />
            <strong>Email</strong>
          </button>
        </th>
        <th scope="col">
          <button class="btn btn-link" (click)="onSortTable(7)">
            <img
              src="assets/images/up-arrow-white.svg"
              alt="Sort Ascending"
              [hidden]="isIconVisible(7)"
            />
            <img
              src="assets/images/down-arrow-white.svg"
              alt="Sort Descending"
              [hidden]="isIconVisible(8)"
            />
            <strong>Member Since</strong>
          </button>
        </th>
        <th scope="col" class="text-center">
          <strong>Actions</strong>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <th scope="row">{{ account.id }}</th>
        <td>{{ account.name }}</td>
        <td>{{ account.email }}</td>
        <td>{{ account.dateJoined | date : "MMM d, y h:mm a" }}</td>
        <td>
          <button
            class="btn btn-primary"
            [routerLink]="['/home', 'account-details', account.id]"
          >
            Manage Account
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Pagination -->
<div class="row" *ngIf="totalPages !== null">
  <div class="col">
    <ul class="pagination pagination-lg justify-content-center">
      <li class="page-item">
        <button class="page-link" (click)="onPaginationNavigate('first')">
          First
        </button>
      </li>
      <li class="page-item">
        <button
          class="page-link"
          (click)="onPaginationNavigate('previous')"
          [disabled]="checkPage('previous')"
        >
          Previous
        </button>
      </li>
      <li class="page-item">
        <form
          [formGroup]="paginationPageForm"
          (ngSubmit)="onPaginationNavigate('jump')"
        >
          <input
            type="number"
            name="selectedPage"
            formControlName="selectedPage"
            class="page-link"
            [value]="getCurrentPage()"
          />
        </form>
      </li>
      <!--      <li-->
      <!--        class="page-item"-->
      <!--        *ngFor="let page of pages; let i = index"-->
      <!--        routerLinkActive="active"-->
      <!--      >-->
      <!--        <a-->
      <!--          class="page-link"-->
      <!--          [routerLink]="['/home', 'admin-panel']"-->
      <!--          [queryParams]="{ page: i + 1 }"-->
      <!--          [queryParamsHandling]="'merge'"-->
      <!--          >{{ i + 1 }}</a-->
      <!--        >-->
      <!--      </li>-->
      <li class="page-item">
        <button
          class="page-link"
          (click)="onPaginationNavigate('next')"
          [disabled]="checkPage('next')"
        >
          Next
        </button>
      </li>
      <li class="page-item">
        <button class="page-link" (click)="onPaginationNavigate('last')">
          Last ({{ totalPages }})
        </button>
      </li>
    </ul>
  </div>
</div>
