<div class="card">
  <div class="card-header">
    <h2 class="card-title">Register</h2>
    <h6 class="card-subtitle text-muted mb-2">Create an account today</h6>
  </div>
  <div class="card-body">

    <form id="register-form" class="form-group">
      <!-- Name -->
      <div class="form-floating mb-3">
        <input type="text" id="name" class="form-control" placeholder="Name" aria-label="name" required>
        <label for="name">Name</label>
      </div>
      <!-- Email -->
      <div class="form-floating mb-3">
        <input type="email" id="email" name="email" required aria-label="email" class="form-control"
               placeholder="Email Address">
        <label for="email">Email Address</label>
      </div>
      <!-- Password -->
      <div class="form-floating mb-3">
        <input type="password" name="password" id="password" placeholder="Password" aria-label="password"
               class="form-control" required minlength="8">
        <label for="password">Password</label>
        <div id="passwordHelp" class="form-text">Minimum of 8 characters.</div>
      </div>

      <button type="button" class="btn btn-outline-primary form-control">Register</button>
    </form>
  </div>
</div>
