<nav class="navbar navbar-dark bg-primary navbar-expand-sm">
  <a class="navbar-brand">
    <img
      class="d-inline-block align-top"
      src="assets/images/admin-panel.png"
      alt="Admin Panel Icon"
      width="30"
      height="30"
    />
    Admin Panel
  </a>

  <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
  <button
    class="btn btn-primary"
    type="button"
    [hidden]="isHamburgerVisible"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li
        class="nav-item"
        [class.active]="isActive('admin-panel')"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a class="nav-link" (click)="onNavigateToAdminPanel()">Admin Panel</a>
      </li>
      <li class="nav-item" [class.active]="isActive('account-details')">
        <a class="nav-link" (click)="onViewAccount()">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
