<div class="container">
  <!-- Form Buttons -->
  <div class="row justify-content-center mb-2 align-middle">
    <div class="col-sm-6">
      <div class="row">
        <button
          class="col btn unselected-button"
          [ngClass]="{
            'btn-outline-primary': isRegisterSelected,
            'unselected-button': !isRegisterSelected
          }"
          (click)="onFormSelect(true)"
        >
          Register
        </button>
        <button
          class="col btn"
          [ngClass]="{
            'btn-outline-primary': !isRegisterSelected,
            'unselected-button': isRegisterSelected
          }"
          (click)="onFormSelect(false)"
        >
          Login
        </button>
      </div>
    </div>
  </div>

  <app-register *ngIf="isRegisterSelected"></app-register>
  <app-login *ngIf="!isRegisterSelected"></app-login>
</div>
