<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Angular Project</title>
  </head>
  <body>
    <!-- Planned layout
  - Homepage should only be the registration and login page
  - After logging in, the following features will be available:
    -> List of all users with pagination
      -> Each user is clickable, showing their details
    -> Create a user
    -> Update a user details
    -> Delete a user

  Planned account model
  id: Number
  name: string
  email: string
  password: string
  isAdmin: boolean
-->

    <main>
      <router-outlet></router-outlet>
    </main>
  </body>
</html>
